# Dependencies
node_modules/
.pnp
.pnp.js

# SvelteKit/Vite
.svelte-kit/
build/
dist/
.env
.env.*
!.env.example

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# OS/IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temp
.temp
.tmp
